canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
}

div {
    position: relative;
    float: right;
    background-color: white; 
    z-index: 0;
    padding: 1rem;
    color: red;
    font-family: monospace;
    font-size: 1rem;
}

a:link {
    color: red; 
}

a:visited {
    color: red;
}

a:hover {
    color: lightblue;
}


